 @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
.container{
    max-width: 100%;
}

/* A history of everything you copy section */
.history{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 60px;
    text-align: center;
    background: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 15vh right 0vh;
}
.history img{
    max-width: 60px;
    margin-bottom: 20px;
}
.history p{
    width: 40%;
    padding-top: 10px;
    color: hsl(201, 11%, 66%);
}
.button{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.ios{
    padding: 10px 20px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(171, 66%, 44%);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}
.mac{
    padding: 10px 20px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(233, 100%, 69%);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Keep track of your snippets section */
.snippet-tracks{
    margin-top: 30px;
    gap: 100px;
}
.heading{
    text-align: center;
    width: 45%;
    margin: 40px auto;
}
p{
    padding: 15px 0;
    color: hsl(201, 11%, 66%);
}
.snippet_items{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 100px;
}
.snippet_illustration img{
    width: 800px;
    
}
.snippet_illustration{
    position: relative;
    left: -30px;
}
.snippet_items_list{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    left: 70px;
    gap: 30px;
}
.snippet_items_list h3{
    font-size: 25px;
}

/* Access Clipboard anywhere section */
.Access-clipboard{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.supercharge_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: baseline;
    text-align: center;
    gap: 10px;
    margin: 0 200px;
}
.supercharge_list_img{
    padding-bottom: 30px;
}

/* logos section */
.logos{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    text-align: center;
    gap: 60px;
    margin: 50px 0px;
}
.clipboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clipboard .button{
    margin-top: 0;
}

/* footer contact page */
.contact-page{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 100px;
   background-color: hsl(0, 0%, 89%); 
}
.contact-page img{
    max-width: 50px;
}
.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
    transition: .3s;
}
.info p{
    cursor: pointer;
    transition: .3s;  
}
.info p:hover{
    color: hsl(171, 66%, 44%);
}
.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.fa-brands{
    font-size: 25px;
    color: hsl(200, 2%, 28%);
    cursor: pointer;
    transition: .3s;
}
.fa-brands:hover{
    color: hsl(171, 66%, 44%);
}

@media screen and (max-width:1170px){
    
.snippet_illustration img {
    width: 600px;}
.Access-clipboard img{
    width: 600px;
}
}
@media screen and (max-width:900px){
    .snippet_illustration img {
        width: 500px;}
    .snippet_items{
        gap: 30px;
    }
    .snippet_items_list{
        gap: 0;
        left: 0;
    }
}
@media screen and (max-width:710px){
    .snippet_items{
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }
    .snippet_illustration {
        left: 0;
    }
    .snippet_illustration img {
        width: 300px;}
    .Access-clipboard img{
        width: 300px;
        }
    .snippet_items_list{
        gap: 30px;
        margin-top: 40px;
    }
    .Access-clipboard{
        margin-top: 0;
    }
    .supercharge_list{
        margin: 0;
    }
    .contact-page{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width:375px){
    .history h1{
        width: 70%;
    }
    .history p{
        width: 100%;
    }
    .button{
        flex-direction: column;
    }
    .heading{
        width: 80%;
    }
    .snippet_items_list{
        width: 80%;
    }
    .supercharge{
        margin: 35px;
    }
    .contact-page{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px 0;
    }
    .info{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}